#page {
	width: 965px; 
	margin-bottom: .6em;
}

#page h2.title {
	margin-top: 1.2em;
}

body#sub #content-wrap {
	background: white;
	padding-bottom: 1em;
}

.footer-text {
	margin: 1em 2em;
	font-size: 90%;
	color: #999;
}

.share-icon {
	width: 24px;
	heigh: 24px;
	margin-right:10px;
}
.share-icons {
	float:right;
}